html {
    font-family: Verdana, Arial, sans-serif;
}

* {
    margin: 0;
}

/*************************** 
/    Header part 
/**************************/

header {
    /* using vmin is perfect for paysage (vmin=vh) and OK for portrait */
    height: 22vmin;
    display: flex;
}

header>div {
    /* equal width */
    flex: 1;
    /* content is also flex, but in a column */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

header>div:first-child {
    background-color: darkblue;
    color: wheat;
}

header>div:last-child {
    background-color: wheat;
    color: darkblue;
}

#day, #time {
    font-size: 9vmin;
    text-transform: uppercase;
}

#date, #moment {
    font-size: 4.5vmin;
}

#date {
    word-spacing: 2vw;
}

/*********************************************
/    Main part 
/ Flex is not used when there is no pictures
/********************************************/

main {
    height: calc(97vh - 22vmin);
    background-color: black;
    color: wheat;
    display: flex;
}

main>section {
    flex: 2;
}

main>aside {
    flex: 1;
    align-self: center;
    text-align: center;
}

#messages>p {
    font-size: calc(2vw + 2vh + 1vmin);
    padding: 3vmin 3vmin 2vmin 3vmin;
}

figure {
    margin: 0;
    padding-right: 1vw;
}

img {
    max-width: 100%;
    max-height: 70vh;
}

figcaption {
    padding-top: 1vh;
    font-size: calc(1vw + 1vh + 0.5vmin);
}

footer {
    height: 3vh;
    background-color: black;
    color: wheat;
    padding-right: 2vw;
    padding-bottom: 2vh;
    text-align: right;
    font-size: calc(8px + 0.3vh);
}